{% extends 'base.html' %} {% block title %} | About {% endblock %} {% block content %} {% load static %}

<!-- Banner start -->
<div class="banner" id="banner">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner banner-slider-inner text-center">
            <div class="carousel-item banner-max-height active item-bg">
                <img class="d-block w-100 h-100" src="{% static 'img/logos/logo.webp' %}" alt="banner" />
                <div class="carousel-content container banner-info-2 bi-2 text-left"></div>
            </div>
        </div>
    </div>
</div>
<!-- Banner end -->

<!-- About start -->

<!-- ScatterShot Intro -->
<div class="about-us content-area-2">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6">
                <div>
                    <div id="gamesDetailsSlider" class="carousel games-details-sliders slide">
                        <!-- main slider carousel items -->
                        <div class="carousel-inner">
                            <div class="active item carousel-item" data-slide-number="0">
                                <img src="{% static 'img/feedandbreed/feed_breed_title_card.jpg' %}" class="img-fluid" alt="Ssg slider game card image" />
                            </div>
                            <div class="item carousel-item" data-slide-number="1">
                                <img src="{% static 'img/feedandbreed/feed_breed_rabbit_card.jpg' %}" class="img-fluid" alt="Ssg slider game card image" />
                            </div>
                            <div class="item carousel-item" data-slide-number="2">
                                <img src="{% static 'img/feedandbreed/feed_breed_fox_card.jpg' %}" class="img-fluid" alt="Ssg slider game card image" />
                            </div>
                        </div>
                        <!-- main slider carousel nav controls -->
                        <ul class="carousel-indicators games-properties list-inline nav nav-justified">
                            <li class="list-inline-item active">
                                <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#gamesDetailsSlider">
                                    <img src="{% static 'img/feedandbreed/feed_breed_title_card.jpg' %}" class="img-fluid" alt="Scattershot Games Game Card Image" />
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a id="carousel-selector-1" data-slide-to="1" data-target="#gamesDetailsSlider">
                                    <img src="{% static 'img/feedandbreed/feed_breed_rabbit_card.jpg' %}" class="img-fluid" alt="Scattershot Games Game Card Image" />
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a id="carousel-selector-2" data-slide-to="2" data-target="#gamesDetailsSlider">
                                    <img src="{% static 'img/feedandbreed/feed_breed_fox_card.jpg' %}" class="img-fluid" alt="Scattershot Games Game Card Image" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-6 align-self-center">
                <div class="about-us-section">
                    <h3><span>ScatterShot Games</span></h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ScatterShot Intro end -->

<div class="content-area bg-area-3">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1><i class="fa-solid fa-people-group"></i> <span>Team ScatterShot </span> <i class="fa-solid fa-people-group"></i></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
        </div>
        <!-- Slick slider area start -->
        <div class="slick-slider-area clearfix">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 2, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                {% for team in team %}
                <div class="slick-slide-item">
                    <div class="team-1">
                        <div class="photo">
                            <a href="#">
                                {% if "placeholder" in team.profile_image.url %}
                                <img src="{% static 'img/logos/logo.webp' %}" class="img-fluid" draggable="false" alt="placeholder team image" />
                                {% else %}
                                <img src="{{ team.profile_image.url }}" class="img-fluid" draggable="false" alt="{{ team.position }}" />
                                {% endif %}
                            </a>
                        </div>
                        <div class="details">
                            <h4>{{team.first_name}}</h4>
                            <h5>{{team.position}}</h5>
                            {{team.content | safe}}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- About end -->
{% endblock %}
