{% extends 'base.html' %} {% block title %} | Home {% endblock %} {% block content %} {% load static %}

<!-- Banner start -->
<div class="banner" id="banner">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner banner-slider-inner text-center">
            <div class="carousel-item banner-max-height active item-bg">
                <img class="d-block w-100 h-100" src="{% static 'img/logos/logo.webp' %}" alt="banner" />
                <div class="carousel-content container banner-info-2 bi-2 text-left"></div>
            </div>
        </div>
    </div>
</div>
<!-- Banner end -->

<!-- Featured Games start -->

<div class="featured-section content-area-2">
    {% include 'includes/messages.html' %}
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1><i class="fa-solid fa-dice"></i> <span>Featured Games</span> <i class="fa-solid fa-dice"></i></h1>
            <p>Checkout our recent releases and featured content.</p>
        </div>
        <!-- Slick slider area start -->
        <div class="slick-slider-area clearfix">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 2, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                {% for game in games %} {% if game.is_featured == True %}
                <div class="slick-slide-item">
                    <div class="featured-games-box">
                        <div class="game-thumbnail">
                            {% if "placeholder" in game.game_image_main.url %}
                            <a href="#">
                                <div class="tag-2">Featured</div>
                                <img class="d-block w-100" draggable="false" src="{% static 'img/logos/logo.webp' %}" alt="ScatterShot Logo" style="min-height: 450px; max-height: 450px" />
                            </a>
                            {% else %}
                            <a href="#">
                                <div class="tag-2">Featured</div>
                                <img class="d-block w-100" draggable="false" src="{{ game.game_image_main.url }}" alt="{{ game.game_title }}" style="min-height: 450px; max-height: 450px" />
                            </a>
                            {% endif %}
                            <div class="game-overlap-wrapper">
                                <div class="overlap-box">
                                    <div class="overlap-btns-area">
                                        <div class="game-magnify-gallery">
                                            <a href="{{ game.game_image_main.url }}" class="overlap-btn">
                                                <i class="fa fa-expand"></i>
                                                <img class="hidden" draggable="false" src="{{ game.game_image_main.url }}" alt="{{ game.game_title }}" />
                                            </a>
                                            {% if game.game_image_2 %}
                                            <a href="{{ game.game_image_2.url }}" class="hidden">
                                                <img class="hidden" draggable="false" src="{{ game.game_image_2.url }}" alt="{{ game.game_title }}" />
                                            </a>
                                            {% endif %} {% if game.game_image_3 %}
                                            <a href="{{ game.game_image_3.url }}" class="hidden">
                                                <img class="hidden" draggable="false" src="{{ game.game_image_3.url }}" alt="{{ game.game_title }}" />
                                            </a>
                                            {% endif %} {% if game.game_image_4 %}
                                            <a href="{{ game.game_image_4.url }}" class="hidden">
                                                <img class="hidden" draggable="false" src="{{ game.game_image_4.url }}" alt="{{ game.game_title }}" />
                                            </a>
                                            {% endif %} {% if game.game_image_5 %}
                                            <a href="{{ game.game_image_5.url }}" class="hidden">
                                                <img class="hidden" draggable="false" src="{{ game.game_image_5.url }}" alt="{{ game.game_title }}" />
                                            </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="detail">
                            <h1 class="title">
                                <a href="{% url 'game_detail' game.slug %}"><i class="fa-solid fa-chess-board"></i> {{ game.game_title }}</a>
                            </h1>
                            <div class="game-creator">
                                <a href="{% url 'game_detail' game.slug %}"> <i class="fa-solid fa-user"></i> {{ game.creator}} </a>
                                {{ game.game_brief | safe }}
                            </div>

                            <p><i class="fa-solid fa-user-plus"></i> Players : {{ game.players }}</p>
                            <p><i class="fa-solid fa-clock"></i> Play Time : {{ game.game_time }} Minutes</p>
                        </div>
                    </div>
                </div>
                {% endif %} {% endfor %}
            </div>
            <div class="slick-btn">
                <div class="slick-prev slick-arrow-buton sab-4">
                    <i class="fa fa-angle-left"></i>
                </div>
                <div class="slick-next slick-arrow-buton sab-3">
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Featured Games end -->

<!-- Blog Section start -->
<div class="featured-section content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1><i class="fa-solid fa-blog"></i> <span>Latest News</span> <i class="fa-solid fa-blog"></i></h1>
            <p>ScatterShot Blog Space, your one stop shop for all things ScatterShot</p>
        </div>
        <div class="row">
            {% for post in posts %} {% if post.is_featured == True and post.status == 1%}
            <div class="col-md-6">
                <div class="card mb-5">
                    <div class="card-body">
                        <div class="image-container">
                            {% if "placeholder" in post.featured_image.url %}
                            <img class="card-img-top" draggable="false" src="{% static 'img/logos/logo.webp' %}" alt="placeholder blog image" />
                            {% else %}
                            <img class="card-img-top" draggable="false" src=" {{ post.featured_image.url }}" alt="{{ post.title }}" />
                            {% endif %}
                            <div class="image-flash">
                                <p class="author">Author: {{ post.author }}</p>
                            </div>
                        </div>
                        <a href="{% url 'post_detail' post.slug %}" class="post-link">
                            <h2 class="card-title">{{ post.title }}</h2>
                            <p>{{ post.excerpt }}</p>
                        </a>
                        <hr />
                        <p class="card-text text-muted h6">{{ post.created_on}}</p>
                    </div>
                </div>
            </div>
            {% endif %} {% endfor %}
        </div>
    </div>
</div>

<!-- Blog Section end -->

<!-- About start -->
<div class="content-area bg-area-3">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1><i class="fa-solid fa-people-group"></i> <span>Team ScatterShot </span> <i class="fa-solid fa-people-group"></i></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
        </div>
        <!-- Slick slider area start -->
        <div class="slick-slider-area clearfix">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 2, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                {% for team in team %}
                <div class="slick-slide-item">
                    <div class="team-1">
                        <div class="photo">
                            <a href="#">
                                {% if "placeholder" in team.profile_image.url %}
                                <img src="{% static 'img/logos/logo.webp' %}" class="img-fluid" draggable="false" alt="placeholder team image" />
                                {% else %}
                                <img src="{{ team.profile_image.url }}" class="img-fluid" draggable="false" alt="{{ team.position }}" />
                                {% endif %}
                            </a>
                        </div>
                        <div class="details">
                            <h4>{{team.first_name}}</h4>
                            <h5>{{team.position}}</h5>
                            {{team.content | safe}}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- About end -->

{% endblock %}
