{% extends 'base.html' %} {% block title %} | Home {% endblock %} {% block content %} {% load static %}

<!-- Banner start -->
<div class="banner" id="banner">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner banner-slider-inner text-center">
            <div class="carousel-item banner-max-height active item-bg">
                <img class="d-block w-100 h-100" src="{% static 'img/logos/logo.jpg' %}" alt="banner" />
                <div class="carousel-content container banner-info-2 bi-2 text-left"></div>
            </div>
        </div>
    </div>
</div>
<!-- Banner end -->

<!-- About start -->
<div class="our-team content-area bg-grea-3">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1><i class="fa-solid fa-people-group"></i> <span>Team ScatterShot </span> <i class="fa-solid fa-people-group"></i></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
        </div>
        <!-- Slick slider area start -->
        <div class="slick-slider-area clearfix">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 2, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                {% comment %} {% for team in team %} {% endcomment %}
                <div class="slick-slide-item">
                    <div class="team-1">
                        <div class="photo">
                            <a href="#">
                                {% if "placeholder" in team.profile_image.url %}
                                <img src="{% static 'img/logos/logo.jpg' %}" class="img-fluid" draggable="false" alt="placeholder team image" />
                                {% else %}
                                <img src="{{ team.profile_image.url }}" class="img-fluid" draggable="false" alt="{{ team.position }}" />
                                {% endif %}
                            </a>
                        </div>
                        <div class="details">
                            <h4>{{team.first_name}}</h4>
                            <h5>{{team.position}}</h5>
                            {{team.content | safe}}
                        </div>
                    </div>
                </div>
                {% comment %} {% endfor %} {% endcomment %}
            </div>
        </div>
    </div>
</div>

<!-- About end -->

{% endblock %}
