/* Admin CSS, Styling for admin panel*/

:root {
    /* Colour Variables */
  
    --theme_red: #f20303;
    --theme_green: #7adf7d;
    --theme_blue: #417690;
    --white: #ffffff;
    --black: #000000;

}


/* Header */
#header {
    background-color: var(--white) !important;
    color: var(--black) !important;
    box-shadow: 0px 0px 10px 0px var(--theme_blue);
}

#header a {
    color: var(--black) !important;
}

#header a:hover {
    color: var(--theme_blue) !important;
}

#header a:active {
    color: var(--theme_blue) !important;
}

#header button {
    background-color: var(--white) !important;
    color: var(--black) !important;
}

#header button:hover {
    color: var(--theme_blue) !important;
}

.theme-toggle svg.theme-icon-when-auto, .theme-toggle svg.theme-icon-when-dark, .theme-toggle svg.theme-icon-when-light{
    fill: var(--black) !important;
    color: var(--white);
}