/** Banner Section **/
#banner {
    position: relative;
}

.item-bg {
    height: 100vh;
}

.banner-min-height {
    height: 720px;
}

.banner .carousel-content.banner-info {
    margin: 0 auto;
    letter-spacing: 1px;
    right: 0;
    left: 0;
    z-index: 999;
    align-self: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.banner .carousel-content.banner-info-2 {
    margin: 0 auto;
    right: 0;
    left: 0;
    align-self: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 100%;
    text-align: center;
}

.banner .carousel-content.bi-2 {
    padding-top: 50px;
}

.carousel-item .text-right {
    float: right;
}

.banner .banner-slider-inner {
    padding: 0;
    margin: 0;
}

.banner h2 {
    color: #fff;
    margin-bottom: 15px;
    font-size: 55px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: normal;
}

.banner h4 {
    font-weight: 300;
    margin-bottom: 0;
    font-size: 50px;
}

.banner .btn-lg {
    cursor: pointer;
    padding: 12px 35px 11px 35px;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}

.banner .banner-slider-inner .max-w {
    max-width: 490px;
}

.banner .banner-slider-inner p {
    color: #fff;
    line-height: 1.6;
    font-size: 18px;
    font-weight: 400;
    opacity: 0.9;
    margin-bottom: 30px;
}

.banner h2 span {
    font-weight: 900;
}

.banner .banner-slider-inner .typed-text {
    font-size: 62px;
}

.banner .banner-slider-inner {
    text-shadow: none;
    right: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-color: rgba(36, 42, 53, 0.7);
}

.banner .btn-lg {
    margin: 3px;
}

.banner-bg-color .banner-slider-inner {
    background-color: rgba(255, 255, 255, 0.1);
}

.banner .carousel-bg .carousel-item {
    height: 100vh;
    background: #3e4a5b;
}

#particles-banner {
    width: 100%;
    height: 100vh;
    background-color: rgba(36, 42, 53, 0.7);
    position: absolute;
}

#particles-banner-wrapper .banner-slider-inner {
    background-color: transparent;
}

.banner-sty-2 .banner-slider-inner h1 {
    font-size: 50px;
}

.banner .bs {
    top: 35%;
    position: absolute;
    width: 100%;
}

.banner h3 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: normal;
    text-transform: uppercase;
}

.banner h5 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 300;
    line-height: 33px;
}

.banner h6 {
    color: #fff;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 300;
}

.btn-secton {
    position: absolute;
    right: 20px;
    top: 50%;
    z-index: 15;
    padding-left: 0;
    list-style: none;
    display: inline-block;
    width: 12px;
    margin: 2px 0;
}

/* Background Colours */

.bg-area {
    background: #3bc85a;
}

.bg-area-2 {
    background: #fff;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
}

.bg-area-3 {
    background: #3bc85a;
}

.form-control {
    padding-left: 15px;
}

/* Featured Section */

.featured-section.content-area {
    background: #32a82c;
    width: 100%;
    padding: 100px 0px 0px;
}

/* Content Areas */

.content-area {
    padding: 100px 0 70px;
}

.content-area-2 {
    margin-bottom: 100px;
}

.content-area-3 {
    margin-bottom: 70px;
}

.content-area-4 {
    padding: 100px 0 50px;
}

.content-area-5 {
    background: #7adf7d;
    padding: 100px 0;
}

/* Featured Tag */

.tag-2 {
    float: left;
    position: absolute;
    transform: rotate(-45deg);
    left: -60px;
    top: 30px;
    text-align: center;
    width: 200px;
    font-size: 12px;
    margin: 0;
    color: #ffffff;
    font-weight: 500;
    line-height: 28px;
    background: #ed8816;
    text-transform: uppercase;
}

/* Featured Games */

.featured-games-box {
    position: relative;
    margin-bottom: 30px;
    background: #fff;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 25px;
    height: 65vh;
}

.featured-games-box .detail .game-creator {
    margin-bottom: 15px;
}
.featured-games-box .detail .game-creator a {
    font-size: 14px;
}

.featured-games-box:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.featured-games-box .detail {
    padding: 25px 20px;
}

.featured-games-box .custom-list {
    margin-bottom: 15px;
}

.featured-games-box .custom-list li {
    font-size: 11px;
    display: inline-block;
    padding-right: 5px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.featured-games-box .custom-list li a {
    color: #535353;
}

.featured-games-box .detail .title {
    font-size: 20px;
    font-weight: 400;
}

.featured-games-box .detail .title a {
    color: #212121;
}

.featured-games-box .detail .title a:hover {
    color: #343a40;
}

.featured-games-box .detail .location {
    margin-bottom: 15px;
}
.featured-games-box .detail .location a {
    font-size: 14px;
}

.for {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 10px;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.2);
    padding: 5px 14px 3px;
    font-weight: 600;
    border-radius: 50px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #f9f9f9;
    background: rgba(0, 0, 0, 0.36);
}

.featured-games-box .facilities-list li {
    list-style: none;
    float: left;
    margin: 0 3px 3px 0;
    font-weight: 400;
    font-size: 14px;
    padding: 3px 10px;
    border: solid 1px #e2e0e0;
    border-radius: 3px;
}

.featured-games-box .facilities-list li i {
    font-weight: 500;
    font-size: 15px;
}

.featured-games-box .footer {
    border-top: 1px solid #e5e5e5;
    background: #fff;
    font-size: 14px;
}

.featured-games-box .footer p {
    line-height: 48px;
    margin: 0 0 0 20px;
    font-size: 15px;
}

.featured-games-box .footer ul li {
    display: inline-block;
    width: 48px;
    margin: 0 0 0 -4px;
}

.car-box-3 .footer ul li a {
    display: block;
    font-size: 15px;
    height: inherit;
    line-height: 48px;
    text-align: center;
    width: 48px;
    border-left: 1px solid #e5e5e5;
    color: #535353;
}

.featured-games-box .footer {
    color: #535353;
    font-size: 15px;
    border-top: solid 1px #efefef;
}

.game-thumbnail {
    position: relative;
}

.game-thumbnail:before {
    content: '';
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 8;
    background: linear-gradient(to top, rgba(47, 45, 45, 0.9) 0%, rgba(0, 0, 0, 0.45) 35%, rgba(2, 2, 2, 0) 60%, rgba(0, 0, 0, 0) 100%);
    border-radius: 4px 4px 0 0;
    opacity: 1;
}

.game-overlap-wrapper {
    visibility: hidden;
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
    z-index: 998;
    color: #fff;
    left: 0;
    top: 0;
}

.overlap-box {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.game-overlap-wrapper h2 {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    line-height: 18px;
    text-transform: uppercase;
    margin: 0;
    color: #fff;
}

.game-overlap-wrapper h4 {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    line-height: 26px;
    color: #fff;
}

.game-magnify-gallery {
    display: inline-block;
}

.game-thumbnail:hover > .game-overlap-wrapper {
    visibility: visible;
    top: 0;
    cursor: pointer;
    transition: all 0.15s linear;
}

.overlap-btns-area img {
    display: none;
}

.overlap-btn {
    border: solid 1px #fff;
}

.overlap-btn {
    width: 36px;
    height: 36px;
    line-height: 35px;
    display: inline-block;
    color: #fff;
    margin: 16px 2px;
    border-radius: 3px;
    font-size: 13px;
    text-transform: uppercase;
    display: inline-block;
}

.overlap-btn:hover {
    text-decoration: none;
    color: #fff;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    /* ...and now for the proper property */
    transition: 0.5s;
}

/** Main title start **/
.main-title {
    margin-bottom: 50px;
    text-align: center;
}

.main-title h1 {
    font-size: 33px;
    font-weight: 700;
    margin-bottom: 15px;
}

.main-title h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

.main-title p {
    font-size: 16px;
    margin-bottom: 0;
}

/** Slick slider start**/
.slick-slider-area {
    position: relative;
}

.slick-slide-item {
    padding: 0 15px !important;
}

.slick-arrow-buton {
    position: absolute;
    top: 43%;
}

.slick-arrow-buton {
    width: 35px;
    height: 35px;
    line-height: 35px;
    top: 43%;
    border-radius: 50px;
    color: #000;
    z-index: 999;
    background: #fff;
    position: absolute;
    font-size: 22px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    text-align: center;
}

.slick-next {
    right: -15px;
}

.slick-prev {
    left: -15px;
}

.slick-slide,
.slick-slide:focus * {
    outline: none !important;
}

*:focus {
    outline: none !important;
}

.slick-btn {
    text-align: center;
    max-width: 100px !important;
    margin: 0 auto;
    bottom: 16px;
    border-radius: 5px;
    height: 35px;
    position: relative;
}

.slick-btn .slick-next {
    right: 0px;
}

.slick-btn .slick-prev {
    left: 0px;
}

.slick-btn .slick-arrow-buton {
    width: 50px;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
    text-align: center;
    display: block;
    float: left;
    border-right: solid 1px #e4e4e4;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
    background: white;
    font-size: 20px;
    position: absolute;
    bottom: 12px;
}

.slick-btn .slick-arrow-buton {
    color: #ff214f;
}

.slick-btn .sab-4 {
    border-radius: 50px 0 0 50px;
}

.slick-btn .sab-3 {
    border-radius: 0 50px 50px 0;
}

/** Team 1 start **/
.team-1 {
    margin-bottom: 30px;
    background: #fff;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
}

.team-1:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.team-1 .photo {
    position: relative;
    text-align: center;
}

.team-1 .photo img {
    width: 100%;
}

.team-1 .details {
    text-align: center;
    padding: 25px 10px;
}

.team-1 .details h4 {
    margin-bottom: 7px;
}

.team-1 .details h4 a {
    font-size: 20px;
    font-weight: 400;
    color: #212121;
}

.team-1 .details h4 a:hover {
    color: #212529;
}

.team-1 .details h5 {
    font-size: 15px;
    color: #535353;
    font-weight: 400;
}

/** Footer start **/
footer {
    background: #06640c;
}

.footer ul li a {
    color: #b3b3b3;
}

.footer h4 {
    font-size: 20px;
    margin-bottom: 25px;
    font-weight: 400;
    color: #d6d6d6;
}

.footer .footer-item {
    margin-bottom: 60px;
}

.footer .footer-inner .links li {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 500;
    padding-left: 20px;
    position: relative;
    line-height: 20px;
}

.footer .footer-inner .links li a i {
    left: 0;
    position: absolute;
    top: 0;
    line-height: 22px;
}

.footer .footer-inner .links li:last-child {
    margin-bottom: 0;
}

.footer .footer-inner .links li a:hover {
    color: #a6a8ab;
}

.footer a {
    color: #b3b3b3;
}

.footer .footer-inner p {
    font-size: 15px;
    color: #b3b3b3;
}

.footer .footer-inner p a {
    color: #b3b3b3;
}

.footer .footer-inner .contact-info li {
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    position: relative;
    padding-left: 25px;
}

.footer .footer-inner .contact-info li i {
    left: 0;
    position: absolute;
    line-height: 22px;
}

.footer .social-list-2 {
    float: right;
}

.footer .social-list-2 li {
    display: inline-block;
    font-size: 16px;
    text-align: center;
}

.footer .social-list-2 li a {
    margin: 0 2px;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.2);
}

.footer .social-list-2 li a:hover {
    box-shadow: none;
}

.footer .facebook-bg:hover {
    background: #4867aa !important;
}

.footer .instagram-bg:hover {
    background: #e4405f !important;
}

.footer .kickstarter-bg:hover {
    background: #56d7fe !important;
}

.footer .itchio-bg:hover {
    background: #fede07 !important;
}

.footer .f-logo {
    margin-bottom: 0px;
    height: 50px;
}

.footer .footer-inner .subscribe-box {
    text-align: left;
}

.sub-footer {
    padding: 20px 0;
    text-align: center;
    margin-bottom: 0;
    background: #06640c;
    color: #fff;
}

.sub-footer p {
    margin-bottom: 0;
    color: #ffffff;
    text-align: left;
    line-height: 44px;
}

.footer .form-inline {
    width: 100%;
}

.footer .footer-inner form .form-control {
    width: 100%;
    height: 44px;
    padding: 10px 15px;
    font-size: 15px;
    outline: 0;
    border: transparent;
    border-radius: 3px;
    margin-bottom: 10px !important;
}

.footer .form-inline .btn {
    width: 100%;
    padding: 10px 13px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 3px;
}

.footer .recent-posts .media h5 a {
    color: #b3b3b3;
    font-weight: 400;
}

.footer .recent-posts .media h5 a:hover {
    color: #a6a8ab;
}

.footer .recent-posts .listing-post-meta {
    font-size: 14px;
    color: #b3b3b3;
}

.footer .recent-posts .listing-post-meta a {
    color: #b3b3b3;
}

.footer .footer-inner .text {
    margin-right: 30px;
}

.footer .s-border {
    background: #525252;
}

.footer .m-border {
    background: #525252;
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
    /* Content Areas */
    .content-area {
        padding: 80px 0 50px;
    }

    .content-area-2 {
        margin-bottom: 80px;
    }

    .content-area-3 {
        margin-bottom: 50px;
    }

    .content-area-4 {
        padding: 80px 0 50px;
    }

    .content-area-5 {
        background: #7adf7d;
        padding: 80px 0;
    }

    /* Footer */
    .footer .social-list-2 {
        float: none;
    }

    .sub-footer p {
        margin-bottom: 20px;
        text-align: center;
        line-height: normal;
    }
}

@media (max-width: 768px) {
    /* Content Areas */

    .content-area {
        padding: 60px 0 30px;
    }

    .content-area-2 {
        margin-bottom: 60px;
    }

    .content-area-3 {
        margin-bottom: 30px;
    }

    .content-area-4 {
        padding: 60px 0 30px;
    }

    .content-area-5 {
        background: #7adf7d;
        padding: 60px 0;
    }

    /* Footer */
    .footer .footer-item {
        margin-bottom: 40px;
    }

    .sub-footer .social-list {
        float: none;
    }

    .sub-footer {
        text-align: center;
    }

    .banner h2 {
        font-size: 34px;
        margin-bottom: 20px;
    }
}
