<!-- Footer start -->
<footer class="footer">
    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <p class="copy">© {% now 'Y' %} ScatterShot Games All Rights Reserved.</p>
                </div>
                <div class="col-lg-4">
                    <div class="social-list-2">
                        <!-- Social media links -->
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/profile.php?id=100094130880081" target="_blank" class="facebook-bg"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://www.kickstarter.com/profile/scattershot-games/created?ref=nav_search&result=user&term=scattershot&total_hits=0" target="_blank" class="kickstarter-bg"><i class="fa-brands fa-kickstarter"></i></a>
                            </li>
                            <li>
                                <a href="https://scattershot-games.itch.io/" target="_blank" class="itchio-bg"><i class="fa-brands fa-itch-io"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/scattershotgames/" target="_blank" class="instagram-bg"><i class="fa fa-instagram"></i></a>
                            </li>
                        </ul>
                        <!-- Social media links end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer end -->
