{% extends "base.html" %}
{% load i18n %}

{% block head_title %}
    {% trans "Password Reset Complete" %}
{% endblock head_title %}

{% block content %}
<div class="signup-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-section">
                    <h3>{% trans "Password Reset Complete" %}</h3>
                    <p>{% trans "Your password has been successfully reset. You can now log in with your new password." %}</p>
                    <div class="form-group mb-0 clearfix">
                        <a href="{% url 'ssg_accounts:login' %}" class="btn-md btn-theme">{% trans 'Log In' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}