{% extends "base.html" %} {% load i18n %} 
{% block head_title %} 
    {% trans "Password Reset Sent" %} 
{% endblock head_title %} 

{% block content %} 
    {% element h1 %} 
{% trans "Password Reset Sent" %} 
    {% endelement %} 
        {% element p %} 
            {% trans "We have sent you an email with instructions for resetting your password. If you do not receive the email, please check your spam folder or contact us for further assistance." %} 
            <a href="/">Back To ScatterShot Games</a>
    {% endelement %} 
{% endblock content %}
